*{
    padding: 0;
    margin: 0;
}
.container{
    background-color:whitesmoke;
    width: 80%;;
    height:700px;
    margin: 30px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.container1{
    background-color: pink;
    border:  solid blue 5px;
    width:80%;
    height: 600px;
    margin:80px;
}
.container1__side{
    color:white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
.two{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.line{
    background-color: gray;
    width: 400px;
    height:10px;
    border-radius: 3px;
    margin-top: 10px;
}
.container1_image{
    display:flex;
    justify-content: space-between;
    gap:10px;
}
.container1_image1{
    width: 350px;
}
.container1_image1 img{
    width: 150px;
    height: 200px;
    margin: 10px;
    border: solid black 3px;
}
.container2_image{
    display: flex;
    justify-content: space-between;
    gap:10px;
}